<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
		<target 
			xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
			layout="${time} ${uppercase:${level}} ${logger} ${message}">
			<keepFileOpen>true</keepFileOpen>
		</target>
		<target
			xsi:type="File" name="results" fileName="${basedir}/logs/${shortdate}-results.log"
			layout="${time}	${message}">
		</target>
		<target
			xsi:type="File" name="errors" fileName="${basedir}/logs/${shortdate}-errors.log"
			layout="${time} ${uppercase:${level}} ${logger} ${message}">
		</target>
	</targets>

  <rules>
		<logger name="*" minlevel="Error" writeTo="errors" />
		<logger name="*" minlevel="Info" writeTo="file" />
		<logger name="results" minlevel="Info" writeTo="results" />
	</rules>
</nlog>